$WHITE: #fff;
$BLUE: #1890ff;
$GREY: #bbb;
$GREY_OPACITY: #ececec;
$GREY_LIGHT: #f9f9f9;
$GREY_DARK: #5d5d5d;
$MAIN_CONTAINER_BG: #f0f2f5;

#root, #root > .ant-layout, .dashboard {
  height: 100%;
}

// *** global ***
img {
  max-width: 100%;
}

h1 {
  font-size: 23px;
}

h2 {
  font-size: 21px;
}

h3 {
  font-size: 19px;
}

h4 {
  font-size: 16px;
}

.ant-layout-header {
  height: 50px;
}

.ant-layout-footer {
  background-color: $WHITE;
  padding: 10px 50px;
}

.ant-menu-item, .ant-menu-submenu-title {
  padding: 0 15px;
}

.ant-menu-item.di-select {
  background-color: transparent !important;
}

.review-modal {
  .ant-row-flex {
    margin-bottom: 10px;
  }
}

.ant-menu-item {
  .ant-btn {
    padding: 0;
    height: 27px;
    background-color: transparent;
    border-color: transparent;
    color: rgba(255, 255, 255, 0.65);
    margin: 0 3px;

    &.active {
      color: $BLUE;
    }
  }

  &.header-locale {
    background-color: transparent !important;
  }
}

.ant-dropdown-menu-item {
  font-size: 15px;

  button {
    width: 100%;
  }
}

.map {
  height: 500px;
  margin: 30px 0;
}

// *** END global ***

.content-container {
  overflow: auto;
  height: 100%;
}

// *** home-page ***
.home-page {
  height: 100%;
  padding: 0 50px;
  position: relative;

  .bg {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 90%;
    background-image: url("./components/img/main.jpg");
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    filter: blur(3px);
  }

  .search-form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 55%;
    text-align: center;

    h1 {
      font-size: 2.5em;
      margin: 0;
    }

    input {
      margin: 20px 5px 0;
      width: calc(100% - 10px);
    }

    button {
      margin: 10px 5px 0;
      width: calc(100% - 10px);
    }
  }

  // *** END home-page ***
}

// *** bootcamp-page ***
.bootcamp-page {
  height: 100%;
  padding: 0 50px;
  display: flex;
  flex: auto;
  flex-direction: column;

  // *** bootcamp Filter ***
  .filter {
    margin: 50px 0 20px;
    flex: 0 0 auto;

    .action-panel {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .anticon {
        font-size: 23px;
      }

      button {
        svg {
          width: 16px;
          vertical-align: sub;
          margin-right: 8px;
          fill: $WHITE;
        }
      }
    }

    .small-mode, .detail-mode, .action-panel {
      background-color: $WHITE;
      padding: 15px;
      border-radius: 4px;
      box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    }

    .detail-mode {
      .panel {
        display: flex;
        align-items: center;
        justify-content: space-between;

        i {
          font-size: 24px;
          color: $GREY;

          &:hover {
            color: $GREY_DARK;
          }
        }
      }

      .switch {
        margin-bottom: 10px;
      }

      footer {
        margin-top: 10px;
        text-align: right;
      }

      .ant-row-flex {
        margin-left: -10px;
        margin-right: -10px;

        & > [class*="ant-col"] {
          padding: 0 10px;
        }
      }
    }

    .small-mode {
      margin-top: 20px;

      .title {
        font-size: 16px;
        margin-right: 10px;
      }

      .ant-tag {
        padding: 3px 10px;
        font-size: 14px;
        margin-right: 15px;
        background-color: $WHITE;
        position: relative;

        &.tag__from, &.empty {
          &:after {
            content: '';
            position: absolute;
            right: -14px;
            width: 10px;
            top: 50%;
            height: 2px;
            background-color: $GREY;
          }
        }

        &.empty {
          background-color: $GREY_LIGHT;
          color: $GREY;
        }
      }
    }

    .filter-label {
      margin-bottom: 3px;
    }

    .price, .careers, .rating {
      &-container {
        display: flex;
      }
    }

    .checkbox-container {
      .ant-checkbox-wrapper {
        display: block;
        margin: 10px 0 0;
      }
    }

    // *** END bootcamp Filter ***
  }


  // *** bootcamp List ***
  .list {
    flex: auto;
    overflow: auto;
    position: relative;
    padding: 0 10px;
    margin-left: -15px;
    margin-right: -15px;

    .bootcamp-list {
      padding-bottom: 15px;
    }

    .bootcamp-pagination {
      position: sticky;
      bottom: 0;
      margin-left: 5px;
      box-shadow: 0 20px 20px rgba(0, 0, 0, 0.1);
      margin-right: 5px;
      padding: 5px;
      background-color: $MAIN_CONTAINER_BG;
    }

    .bootcamp-item {
      padding: 0 5px;

      .wrap {
        background-color: $WHITE;
        min-height: 230px;
        padding: 10px;
        border-radius: 4px;
        box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
        margin-bottom: 10px;
        transition: box-shadow .2s ease-in;

        .img {
          min-height: 100px;
          display: flex;
          align-items: center;
          justify-content: center;
        }

        .link {
          color: $BLUE;
          font-size: 15px;
          font-weight: 500;
          display: inline-block;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          max-width: 100%;

          &:hover {
            opacity: .7;
          }
        }

        .rating {
          position: absolute;
          right: 5px;
        }

        .city {
          font-size: 13px;
          font-weight: 700;
          pointer-events: none;
        }

        .description {
          color: $GREY;
          display: block;
          line-height: 1.3;
          font-size: 12px;
          max-height: 40px;
          overflow: hidden;
          pointer-events: none;
        }

        &:hover {
          box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
        }
      }
    }

    // *** END bootcamp List***
  }

  // *** Single bootcamp ***
  .single-bootcamp {
    .ant-page-header {
      padding: 15px 0;
    }

    .ant-page-header-heading-sub-title {
      margin: 8px 0 0;
      position: relative;

      &:before {
        content: '/';
        position: absolute;
        left: -8px;
        bottom: 1px;
      }
    }

    .ant-collapse-borderless {
      background-color: transparent;
    }

    .ant-collapse-item {
      margin-bottom: 10px;
      background-color: $WHITE;

      .ant-collapse-header {
        font-size: 16px;
        font-weight: 600;
      }
    }

    .course {
      svg {
        vertical-align: middle;
        margin-right: 10px;
      }
    }

    .column-right {
      padding-left: 10px;

      .ant-empty-normal {
        background-color: $WHITE;
        padding: 50px 0;
        box-shadow: 0 8px 20px rgba(0, 0, 0, 0.05);
      }

      .table {
        .ant-row-flex {
          width: 100%;
          align-items: center;
          padding: 3px 10px;
        }

        main {
          svg {
            position: relative;
            top: 2px;
          }

          & > div {
            &:nth-of-type(odd) {
              background-color: $GREY_LIGHT;
            }

            &:nth-of-type(2n) {
              background-color: $GREY_OPACITY;
            }
          }
        }
      }

      .rating {
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        .ant-btn {
          font-size: 15px;
        }

        .ant-tag {
          font-size: 17px;
          margin: 0;
          padding: 3px 7px
        }
      }

      .website {
        font-size: 16px;

        .ant-btn {
          font-size: 15px;
          margin-top: 5px;
        }
      }
    }

    // *** Reviews bootcamp***
    &.__review-page {
      .rating {
        .ant-tag {
          padding: 4px 10px 6px;
          font-size: 18px;
        }
      }

      .sticky-headr {
        position: sticky;
        top: 0;
        z-index: 1;
        background-color: $MAIN_CONTAINER_BG;
        padding-bottom: 10px;
      }

      .review {
        header {
          display: flex;
          justify-content: space-between;
          background-color: $GREY;
          padding: 8px 20px;
          font-size: 18px;
          font-weight: 500;
          margin-top: 20px;
        }

        main {
          background-color: $WHITE;
          padding: 20px;

          .rating {
            margin-bottom: 10px;

            span {
              font-size: 15px;
              font-weight: 500;
              margin-right: 10px;
            }
          }

          .comment {
            font-size: 16px;
            margin-bottom: 10px;
          }
        }

        &:last-child {
          margin-bottom: 20px;
        }
      }

      .__no-data {
        text-align: center;
        margin-top: 50px;

        svg {
          margin-bottom: 20px;
          height: 250px;
        }
      }

      // *** END Reviews bootcamp***
    }

    // *** END Single bootcamp***
  }

  // *** END bootcamp-page ***
}

// *** Contact pages ***
.contact-page {
  height: 100%;
  padding: 50px;

  &__container {
    display: flex;

    .about-me {
      max-width: calc(100% - 300px);
      margin-left: 50px;
      font-size: 16px;
      font-weight: 500;

      i {
        display: block;
        margin-bottom: 10px;

        &:first-letter {
          color: $BLUE;
        }
      }
    }
  }

  .ant-avatar {
    width: 200px;
    height: 200px;
  }

  // *** END Contact pages ***
}

// *** Login & Register pages ***
.register-form-center, .login-form-center {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.login-form, .register-form {
  margin: 0 auto;
  background-color: $GREY_LIGHT;
  padding: 40px;
  border-radius: 3px;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.15);

  &-forgot {
    float: right;
  }

  &-button {
    width: 100%;
  }

  h2 {
    text-align: center;
    margin-bottom: 30px;
  }

  .full-center {
    text-align: center;

    & > [class*="ant-col"] {
      width: 100% !important;
    }
  }

  .login-form-forgot {
    border: none;
    padding: 0;
    background-color: transparent;
    color: $BLUE;
  }

  .btn-agreement {
    background-color: transparent;
    border-color: transparent;
    color: $BLUE;
    padding: 0;
  }

  // *** END Login & Register pages ***
}

// *** Dashboard page ***
.dashboard {
  .anticon.anticon-menu {
    &-fold, &-unfold {
      position: relative;
      bottom: 6px;
      left: 15px;
    }
  }

  .ant-row-flex {
    margin-left: -10px;
    margin-right: -10px;

    & > [class*="ant-col"] {
      padding: 0 10px;
    }
  }

  .ant-form-item-label {
    line-height: 27px;
  }

  .ant-form-item-control {
    line-height: 27px;
  }

  footer {
    text-align: right;
    margin-top: 20px;

    & > span {
      display: block;
      margin-bottom: 10px;
    }
  }

  .my-bootcamp, .my-course {
    height: 100%;

    & > ul {
      margin: 0;
      padding: 0;
      overflow-y: auto;
      overflow-x: hidden;
      height: calc(100% - 60px);

      li {
        border-top: 1px solid $GREY;
        padding-right: 5px;
      }
    }
  }

  .edit-bootcamp, .edit-course {
    border-top: 1px solid $GREY_LIGHT;

    .ant-upload.ant-upload-disabled {
      .ant-btn {
        pointer-events: none;
        background-color: $GREY_LIGHT;
      }
    }
  }

  // *** END Dashboard page ***
}